/*CSS dành cho các tag*/
h5 { font-family: arial; font-size: 14px; font-weight: normal; margin-top: 0; margin-bottom: 5px; }
h6 { font-family: arial; font-size: 13px; color: #8f8f8f; font-weight: normal; margin: 5px 0 10px;}
.button-white { display: inline-block; width: 108px; height: 31px; background: url(../img/button-white.png) no-repeat; font-family: arial; font-size: 13px; color: #000; line-height: 30px; text-align: center; -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.5); text-shadow: 1px 1px 1px rgba(0,0,0,0.5); opacity: 0.9; text-decoration: none; margin: 0 5px; }
    .button-white:hover { opacity: 1; }
	
.button-white1 { display: inline-block; width: 80px; height: 31px; background: url(../img/button-white1.png) no-repeat; font-family: arial; font-size: 13px; color: #000; line-height: 30px; text-align: center; -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.5); text-shadow: 1px 1px 1px rgba(0,0,0,0.5); opacity: 0.9; text-decoration: none; margin: 0 5px; }
    .button-white1:hover { opacity: 1; }
	
.button-blue-long { display: inline-block; width: 148px; height: 31px; background: url(../img/button-blue-long.png) no-repeat; font-family: arial; font-size: 13px; color: #fff; line-height: 30px; text-align: center; -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.5); text-shadow: 1px 1px 1px rgba(0,0,0,0.5); opacity: 0.9; text-decoration: none; margin: 0 5px; }
    .button-blue-long:hover { opacity: 1; }

.button-white-long { display: inline-block; width: 136px; height: 31px; background: url(../img/button-white-long.png) no-repeat; font-family: arial; font-size: 13px; color: #000; line-height: 30px; text-align: center; -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.5); text-shadow: 1px 1px 1px rgba(0,0,0,0.5); opacity: 0.9; text-decoration: none; margin: 0 5px; }
    .button-white-long:hover { opacity: 1; }

.button-grey { display: inline-block; width: 116px; height: 31px; background: url(../img/button-grey.png) no-repeat; font-family: arial; font-size: 13px; color: #000; line-height: 30px; text-align: center; -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.5); text-shadow: 1px 1px 1px rgba(0,0,0,0.5); opacity: 0.9; text-decoration: none; border-style: none; cursor: pointer; text-decoration: none; }
    .button-grey img { display: inline-block; margin-right: 10px; vertical-align: middle; }

.center { text-align: center; }
.mail-count { background: url(../img/icon/mail-count.gif) no-repeat left top; background-size:35px 20px; width: 35px; height: 23px; font-size: 12px; font-family: arial;font-weight:Bold; color: #fff; margin-left: 2px; padding-right: 2px; display: inline-block; vertical-align: middle; line-height: 19px; text-align: center; font-style: normal; }
.font-weight-lb { font-weight:bold;padding-left:5px; 	 }
.table-fixed-width { width: 50%;	 }
.table-fixed-padding {padding-bottom:75px;	}
/*CSS dùng để format table*/
.content-holder table { width: 100%; border-style: none; border-spacing: 0; }

    /*CSS dùng để format table cell*/
    .content-holder table tr td { border-style: none; font-family: arial; font-size: 12px; color: #636464; border-spacing: 0; }

    /*CSS dùng để format table header*/
    .content-holder table tr th { border-style: none; color: #fff; height: 56px; font-family: arial; font-weight: normal; padding: 8px 5px 5px 5px; text-align: center; }

    /*CSS dùng để format các đối tượng bên trong 1 table*/
    .content-holder table tr td b { font-family: Arial; font-size: 13px; font-weight: bold; }
    .content-holder table tr td i { font-family: Arial; font-size: 13px; font-style: italic; }
    .content-holder table tr td sup { }
    .content-holder table tr td a { font-family: Arial; font-style: italic; text-decoration: underline; color: #0073b9; margin-right: 5px; opacity: 0.8; }
        .content-holder table tr td a:hover { opacity: 1; }
        .content-holder table tr td a.button-grey { font-family: arial; font-style: normal; color: #000; text-decoration: none; }

    /*CSS dùng để format table theo style được thiết kế*/
    .content-holder table.table-style { background: url(../img/table_header.jpg) no-repeat left top !important; width: 750px !important; padding: 0 !important; margin: 0 !important; }
        .content-holder table.table-style tr { background: #ebebeb; }
            .content-holder table.table-style tr.tr-header { background: none; }

            /*CSS dùng để format table row có thứ tự lẻ*/
            .content-holder table.table-style tr.odd { background: #f7f7f7; }

            .content-holder table.table-style tr td { padding: 5px 5px 5px 5px; }
                .content-holder table.table-style tr td b { text-transform: uppercase; font-family: hel_bold; font-size: 14px; }
                .content-holder table.table-style tr td sup { }
                .content-holder table.table-style tr td a { color: #225fc2; font-family: arial; font-size: 12px; text-decoration: none; font-style: normal; }
                    .content-holder table.table-style tr td a:hover { text-decoration: underline; }
					.content-holder table.table-form table.table-style input[type="text"] { width: 20px; font-size: 14px; font-family: arial; vertical-align: middle;}
	
	/*CSS dùng để format table theo style được thiết kế*/
	.content-holder table.table-style-1 { background: #3f6cad url(../img/table_header.jpg) no-repeat left top !important; width: 750px !important; padding: 0 !important; margin: 0 !important; }
        .content-holder table.table-style-1 tr { background: none; }
            .content-holder table.table-style-1 tr.tr-header { background: none; }

            /*CSS dùng để format table row có thứ tự lẻ*/
            .content-holder table.table-style-1 tr.odd { background: #f7f7f7; }

            .content-holder table.table-style-1 tr td { padding: 5px 5px 5px 5px; background: #ebebeb; }
                .content-holder table.table-style-1 tr td b { text-transform: uppercase; font-family: hel_bold; font-size: 14px; }
                .content-holder table.table-style-1 tr td sup { }
                .content-holder table.table-style-1 tr td a { color: #225fc2; font-family: arial; font-size: 12px; text-decoration: none; font-style: normal; }
                    .content-holder table.table-style-1 tr td a:hover { text-decoration: underline; }
					.content-holder table.table-form table.table-style-1 input[type="text"] { width: 20px; font-size: 14px; font-family: arial; vertical-align: middle;}
	
	/*CSS dùng để format table theo style được thiết kế*/
    .content-holder table.table-style-double { background: url(../img/table_header.jpg) no-repeat left top !important; width: 750px !important; padding: 0 !important; margin: 0 !important; }
        .content-holder table.table-style-double tr { background: #ebebeb; }
            .content-holder table.table-style-double tr.tr-header { background: none; }

            /*CSS dùng để format table row có thứ tự lẻ*/
            .content-holder table.table-style-double tr.odd { background: #f7f7f7; }

            .content-holder table.table-style-double tr td { padding: 5px 15px 5px 15px; }
                .content-holder table.table-style-double tr td b { text-transform: uppercase; font-family: hel_bold; font-size: 14px; }
                .content-holder table.table-style-double tr td sup { }
                .content-holder table.table-style-double tr td a { color: #225fc2; font-family: arial; font-size: 12px; text-decoration: none; font-style: normal; }
                    .content-holder table.table-style-double tr td a:hover { text-decoration: underline; }
	
	
	/*CSS dùng để format table theo style được thiết kế*/
    .content-holder table.table-style-double1 { background: url(../img/table_header.jpg) no-repeat left top !important; width: 750px !important; padding: 0 !important; margin: 0 !important; }
        .content-holder table.table-style-double1 tr { background: #ebebeb; }
            .content-holder table.table-style-double1 tr.tr-header { background: none; }

            /*CSS dùng để format table row có thứ tự lẻ*/
            .content-holder table.table-style-double1 tr.odd { background: #f7f7f7; }

            .content-holder table.table-style-double1 tr td { padding: 5px 15px 5px 15px; }
                .content-holder table.table-style-double1 tr td b { text-transform: uppercase; font-family: hel_bold; font-size: 14px; }
                .content-holder table.table-style-double1 tr td sup { }
                .content-holder table.table-style-double1 tr td a { color: #225fc2; font-family: arial; font-size: 12px; text-decoration: none; font-style: normal; }
                    .content-holder table.table-style-double1 tr td a:hover { text-decoration: underline; }	
	
    /*CSS dùng để format table form*/
    .content-holder table.table-form { }
        .content-holder table.table-form table { background: #f7f7f7; padding-top: 10px; margin-bottom: 15px; padding-bottom: 10px; }
            .content-holder table.table-form table tr { }
                .content-holder table.table-form table tr td { font-size: 13px; padding: 5px 5px; font-family: arial; }
                    
                    /*Tiêu đề cho các field nhập liệu*/
                    .content-holder table.table-form table tr td.caption { width: 200px; }
                    .content-holder table.table-form table tr td.text-top { vertical-align: top; padding-top: 15px }
                    .content-holder table tr td.text-right { text-align: right; }
                    .content-holder table.table-form table tr td.caption-small { width: 79px; }
        
        /*dropdownlist*/
        .content-holder table.table-form select { padding: 5px; width: 335px; font-size: 14px; font-family: arial; }
        
        /*text area*/
        .content-holder table.table-form textarea { padding: 5px; width: 323px; font-size: 14px; font-family: arial; overflow: auto; min-height: 100px; }
        .content-holder table.table-form .textarea-mail { padding: 5px; width: 680px; font-size: 12px;  color: #333333; overflow: auto; min-height: 200px; }
        
        /*textbox, password*/
        .content-holder table.table-form input[type="text"], .content-holder table.table-form input[type="password"] { padding: 5px; width: 321px; font-size: 14px; font-family: arial; vertical-align: middle; }
        
        /*button, submit*/
        .content-holder table.table-form input[type="button"], .content-holder table.table-form input[type="submit"] { border-style: none; cursor: pointer; }
        .content-holder table.table-form .alert { font-size: 14px; color: #0073b9; }
		.content-holder table.table-form .error { font-size: 14px; color: #c92538; text-decoration:none;  }
        .content-holder table.table-form .success { font-size: 14px; color: #0066FF; text-decoration:none; }
		.content-holder table.table-form .detailerror { font-size: 14px; color: #c92538; text-decoration:none; }
		.content-holder table.table-form .alert-error { font-size: 13px; font-weight:bold; color: #c92538; text-decoration:none;  }
        /*CSS cho table small*/
        .content-holder table.table-form table.table-small { }
            .content-holder table.table-form table.table-small tr td.caption { width: 100px; }
            .content-holder table.table-form table.table-small a { text-decoration: none; }
            .content-holder table.table-form table.table-small select { padding: 5px; width: 200px; font-size: 14px; font-family: arial; }
            .content-holder table.table-form table.table-small textarea { padding: 5px; width: 200px; font-size: 14px; font-family: arial; overflow: auto; min-height: 100px; }
            .content-holder table.table-form table.table-small input[type="text"], .content-holder table.table-form table.table-small input[type="password"] { padding: 5px; width: 178px; font-size: 14px; font-family: hel_regular; vertical-align: middle; }


.content-holder .chuthich_num { color: red; }
.content-holder .red_tieude { font-family: Arial; font-weight: bold; font-size: 13px; }
.content-holder .acc_bold { }
.content-holder .text_bold { font-weight: bold; }
.content-holder .note-red         { font-family: Arial; font-weight: bold; color: #c92538; text-decoration:none; opacity: 0.9;}
.content-holder .note-red:hover         { font-family: Arial; font-size: font-weight: bold; color: #e83d51; opacity: 0.9;}
.content-holder .copyright         { font-family: Arial; font-size: 13px; font-weight: normal; color: #494949; font-style:italic; text-decoration:none; }
.content-holder .copyright_bold         { font-family: Arial; font-size: 13px; font-weight: bold; color: #494949; font-style:italic; text-decoration:none; }
.content-holder .note-red-small         { font-family: Arial; color: #c92538; text-decoration:none; opacity: 0.9;}

/*CSS cho các thanh tiêu đề cho các form nhập liệu*/
.content-holder .white_tieude_3 { background: url(../img/table_header.jpg) no-repeat left top; height: 65px; font-size: 14px; font-family: arial; color: #fff; padding-left: 20px; padding-top: 6px; }
.content-holder .white_tieude_2 { background: url(../img/titlebar.jpg) no-repeat left top; height: 39px; text-transform: uppercase; font-size: 12px; font-family: arial; color: #fff; padding-left: 20px; padding-top: 6px; }
.content-holder .white_tieude { background: url(../img/titlebar2.jpg) no-repeat left top; height: 37px; text-transform: uppercase; font-size: 12px; font-family: arial; color: #fff; padding-left: 20px; }


/*CSS dùng để format table*/

	/*CSS dùng để format table cell*/
	.content-tab-left table { width:404px !important; background: url( '../img/left_visible.png' ) no-repeat left top; height: 40px;}
    .content-tab-left  table td{  width:202px; text-align: center; -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.5); text-shadow: 1px 1px 1px rgba(0,0,0,0.5); opacity: 0.9;}
	.content-tab-left table tr td a { font-family: arial; font-size: 13px; font-weight: bold; font-style: normal; color: #000; text-decoration: none;}
	/*CSS dùng để format table cell*/
	.content-tab-right table { width:404px !important; background: url( '../img/right_visible.png' ) no-repeat left top; height: 40px;}
    .content-tab-right  table td{  width:202px; text-align: center; -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.5); text-shadow: 1px 1px 1px rgba(0,0,0,0.5); opacity: 0.9;}
	.content-tab-right table tr td a { font-family: arial; font-size: 13px; font-weight: bold; font-style: normal; color: #000; text-decoration: none;}
	
	.success_blue { font-size: 13px; color: #0066FF; text-decoration:none; font-weight: bold;}