.modal-profile {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  position: relative;
  background-color: wheat;
  width: 50%;
  height: 70%;
}

.formEdit tr {
  padding-top: 20px;
}

.formEdit tr td label {
  padding-left: 20px;
}

.formEdit tr td {
  padding-right: 100px;
  padding-top: 20px;
}

.formEdit tr td input {
  width: 400px;
  height: 30px;
}

#select {
  width: 100px;
  padding-left: 10px;
  margin-left: -305px;
}

h3 {
  margin-top: 10px;
  color: red;
}

#close {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 2px;
  right: 2px;
  font-size: 20px;
  cursor: pointer;
  color: #cf1b1b;
}

#listStaff td {
  align-items: center;
  font-weight: 200%;
  line-height: 50px;
}

.account-payment {
  height: 100%;
  margin-left: 20px;
}

.account-payment label {
  width: 15%;
  font-size: 20px;
  color: black;
  margin-bottom: 30px;
}

.account-payment label:first-child {
  color: #cf1b1b;
  font-size: 24px;
  font-weight: 200%;
}

.find-history tr th {
  width: 25%;
  float: left;
}

.find-history a {
  height: 30px;
  width: 50px;
  background-color: red;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.find-history tr td {
  width: 15%;
  float: left;
}